name: Build

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Setup Java
        uses: actions/setup-java@v4.6.0
        with:
          distribution: "jetbrains"
          java-version: 21
          cache: "gradle"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache
        uses: actions/cache@v4.2.0
        with:
          path: |
            ~/.konan
            /usr/local/lib/android/sdk/ndk
          key: ${{ runner.os }}-kotlin-native-ndk-${{ hashFiles(
            'gradle/libs.versions.toml',
            'gradle.properties'
            ) }}
          restore-keys: |
            ${{ runner.os }}-kotlin-native-ndk-

      - name: Build
        run: |
          ./gradlew :plugin:build --no-daemon --stacktrace --no-configuration-cache
